services:
    redis:
        container_name: ${APP_NAME}-redis
        image: redis
        volumes:
            - redis_data:/data
        ports:
            - "6379:6379"
    postgres:
        container_name: ${APP_NAME}-postgres
        image: postgres
        environment:
            POSTGRES_DB: postgres
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
        volumes:
            - pgdata:/var/lib/postgresql/data
        ports:
            - "5432:5432"
    php:
        container_name: ${APP_NAME}-php
        build:
            context: .
            dockerfile: docker/php/Dockerfile
        volumes:
            - .:/var/www/
            - ./docker/php/php.ini:/usr/local/etc/php/conf.d/docker-php-config.ini

        depends_on:
            - redis
            - postgres
        ports:
            - "5173:5173"

    nginx:
        container_name: ${APP_NAME}-nginx
        build:
            context: .
            dockerfile: docker/nginx/Dockerfile
        depends_on:
            - php
        volumes:
            - .:/var/www/
            - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
            - "/etc/ssl/certs:/app/certs"
            - /.htpasswd:/etc/nginx/.htpasswd
#            - /auth.conf:/etc/nginx/conf.d/auth.conf
        ports:
            - "80:80"
            - "443:443"
volumes:
    redis_data:
    pgdata:
